.about {
    .personnel {
        margin-top: 60px;
        grid-row: 2;

        .big-text {
            font-size: 36px;
            font-weight: 700;
            font-family: 'Cormorant Garamond';
            margin-bottom: 15px;
        }

        .personnel-swiper {
            .swiper-wrapper {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                gap: 20px;
            }
        }
    }
}

.about-feedback-block {
    padding-top: 60px;
    margin-bottom: 60px;
    padding-bottom: 60px;
    border-top: 1px solid #4444441f;
    border-bottom: 1px solid #4444441f;

    .top-text {
        display: flex;
        justify-content: space-between;

        span {
            font-size: 24px;
            font-family: 'Cormorant Garamond';
            font-weight: 700;
        }

        a {
            font-size: 14px;
            color: #407014;
            font-family: 'Rubik';
        }
    }

    .feedback-swiper {
        padding-top: 20px;
        margin-bottom: 40px;

        .feedback-pagination {
            text-align: center;
            margin-top: 20px;
        }
    }
}

@include media-down($bp1) {
    .about {

        .personnel {
            margin-top: 60px;

            .personnel-swiper {
                .swiper-wrapper {
                    grid-template-columns: 1fr 1fr 1fr;
                    gap: 10px;
                }
            }
        }
    }

}

@include media-down($bp3) {
    .about {
        .personnel {
            margin-top: 20px;

            .big-text {
                font-size: 28px;
                margin-bottom: 10px;
            }

            .personnel-swiper {
                overflow: hidden;

                .swiper-wrapper {
                    gap: 0;
                    display: flex;

                }
            }
        }
    }

    .about-feedback-block {
        padding-top: 20px;
        padding-bottom: 20px;
        margin-bottom: 20px;

        .top-text {
            flex-direction: column;
            justify-content: center;
            text-align: center;
            gap: 5px;

            span {
                font-size: 22px;
            }
        }
    }
}