.outer-border {
    border-radius: 22px;
    border: 2px solid rgba(255, 255, 255, 0.24);
    background-color: #fff;
    position: absolute;
    font-family: 'Rubik';
    top: 67%;
    right: 50%;
    transform: translate(50%, 50%);
    .label {
        color: white;
        font-weight: 500;
        padding: 6px 20px 6px 20px;
        display: flex;
        align-items: center;
        gap: 8px;
        border-radius: 22px;
        
    }
}
