main {
  min-height: 2000px; //jkbjkbfjkdbfdjkfbdjkfdjkfbdjkfbdjkjkdfbdkjfbdjkfdjkfdbfjkdbfjkdbkjsfnskjfbsdjkfnsdkfbnsdsbdfjksdbfjkdsbfjkdsbfdsjkfbdsjkfbsjfbsdjk
  position: relative;
  .block-padding {
    
    .dropdown-holder {
      margin-top: 60px;
      .dropdown-text {
          display: flex;
          justify-content: center;
          font-family: 'Cormorant Garamond';
          font-size: 36px;
          font-weight: 700;
          margin-bottom: 20px;
      }
    }
    .seasonal {
      margin-top: 60px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .seasonal-text {
          display: flex;
          justify-content: center;
          text-align: center;
          font-family: 'Cormorant Garamond';
          font-size: 36px;
          font-weight: 700;
          margin-bottom: 20px;
      }
      .seasonal-cards {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 75px;
          margin-bottom: 20px;
          .card-element {
              height: 409px;
              &:hover {
                  z-index: 2;
              }
          }
      }
    }
  }
  
}
@include media-down($bp1) { 
  main {
    .block-padding {
      .seasonal {
        margin-top: 60px;
        .seasonal-text {
            font-size: 36px;
        }
        .seasonal-cards {
            grid-template-columns: repeat(2, 1fr);
            gap: 50px;
        }
      }
    }
  }
}
@include media-down($bp3) { 
  main {
    .block-padding {
      .dropdown-holder {
        margin-top: 18px;
        .dropdown-text {
            font-size: 22px;
        }
      }
      .seasonal {
        margin-top: 60px;
        .seasonal-text {
            font-size: 22px;
        }
        .seasonal-cards {
            grid-template-columns: 1fr;
            
            .card-element {
                height: 409px;
                &:hover {
                    z-index: 2;
                }
            }
        }
      }
    }
  }
}
