main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  .big-swiper {
    overflow: hidden;   
    width: 100%;
    position: relative;
    .swiper-pagination {
      position: absolute;
      top: 90%;
      left: 50%;
      transform: translate(-50%, 0%);
      height: fit-content;
      width: fit-content;
    }
  }
  .block-padding {
    
    .dropdown-holder {
      margin-top: 60px;
      .dropdown-text {
          display: flex;
          justify-content: center;
          font-family: 'Cormorant Garamond';
          font-size: 36px;
          font-weight: 700;
          margin-bottom: 20px;
      }
    }
    .cards-container {
      margin-top: 120px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .container-text {
          display: flex;
          justify-content: center;
          text-align: center;
          font-family: 'Cormorant Garamond';
          font-size: 36px;
          font-weight: 700;
          margin-bottom: 20px;
      }
      .card-swiper {
        max-width: 100%;
        .cards {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 75px;
            margin-bottom: 20px;
            .card-element {
                height: 409px;
                &:hover {
                    z-index: 2;
                }
            }
        }
      }
    }
    .first-cards-container {
      margin-top: 60px;
    }
  }
  
}
@include media-down($bp1) { 
  main {
    .block-padding {
      .cards-container {
        margin-top: 60px;
        .container-text {
            font-size: 36px;
        }
        .card-swiper {
          .cards {
              grid-template-columns: repeat(2, 1fr);
              gap: 50px;
          }
        }
      }
    }
  }
}
@include media-down($bp3) { 
  main {
    .big-swiper {
      .swiper-pagination {
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        padding: 10px 0 15px 0;
        background-color: #fff;
      }
    }
    .block-padding {
      .dropdown-holder {
        margin-top: 53px;
        .dropdown-text {
            font-size: 22px;
        }
      }
      .cards-container {
        margin-top: 60px;
        .container-text {
            font-size: 22px;
        }
        .card-swiper {
          .cards {
              display: block;
              gap:0;
              margin-bottom: 0;
              .card-element {
                  height: 409px;
                  &:hover {
                      z-index: 2;
                  }
              }
          }
        }
      }
    }
  }
}

