.sale-outer-border {
    border-radius: 22px;
    border: 2px solid rgba(255, 255, 255, 0.24);
    background-color: #fff;
    position: absolute;
    font-family: 'Rubik';
    top: 70%;
    right: 50%;
    transform: translate(50%, 50%);
    .sale-label {
        color: white;
        font-weight: 500;
        background-color: #FF5555;
        padding: 6px 20px 6px 20px;
        display: flex;
        gap: 8px;
        border-radius: 22px;
    }
}
