body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  color: #444444;
}
.block-padding {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1130px;
  width: 100%;
}
main {
  display: flex;
  justify-content: center;
}
.swiper {
  height: auto; 
  min-height: 0;
  min-width: 0;
  max-width: 100vw; 
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}
